include requirements.txt
include README.md
recursive-include dir Gene_Drive/assets/**
recursive-include dir Gene_Drive/assets/third_party_scripts/**
recursive-include dir Gene_Drive/assets/third_party_styles/**
recursive-exclude dir tests/**